<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Utilisateur List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead>
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utilisateur of utilisateurs" > 
            <td>{{utilisateur.prenom}}</td>
            <td>{{utilisateur.nom}}</td>
            <td>{{utilisateur.email}}</td>
             <td><button (click)="deleteUtilisateur(utilisateur.id)" class="btn btn-danger">Supprimer</button>
                <button (click)="createOrUpdateUtilisateur(utilisateur.id)" class="btn btn-info" style="margin-left: 10px" 
                data-toggle="modal" data-target="#myModal">Modifier</button>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  


  <div class="modal" id="myModal">  
    <div class="modal-dialog">  
      <div class="modal-content">  
            <form [formGroup]="tilisateurupdateform" #updstu (ngSubmit)="updateUser(updusr)">  
        <!-- Modal Header -->  
        <div class="modal-header">  
          <h4 class="modal-title" style="text-align: center">Update Student</h4>  
            
        </div>  
          
        <!-- Modal body -->  
        <div class="modal-body" *ngFor="let student of studentlist " >  
            <div [hidden]="isupdated">  

                <input type="hidden" class="form-control"  formControlName="student_id" [(ngModel)]="student.student_id">  
                        <div class="form-group">  
                            <label for="name">Student Name</label>  
                            <input type="text" class="form-control"  formControlName="student_name" [(ngModel)]="student.student_name"  >  
                        </div>  
                  
                        <div class="form-group">  
                            <label for="name">Student Email</label>  
                            <input type="text" class="form-control" formControlName="student_email" [(ngModel)]="student.student_email">  
                        </div>  
                  
                        <div class="form-group">  
                            <label for="name">Student Branch</label>  
                              <select class="form-control" formControlName="student_branch" required>                                     
                                <option value="B-Tech" [selected]="'B-Tech' == student.student_branch">B-Tech</option>  
                                <option value="BCA" [selected]="'BCA' == student.student_branch">BCA</option>  
                                <option value="MCA" [selected]="'MCA' == student.student_branch" >MCA</option>  
                                <option value="M-Tech" [selected]="'M-Tech' == student.student_branch">M-Tech</option>  
                              </select>                                 
                        </div>                     
              </div>    
              <div [hidden]="!isupdated">  
                  <h4>Student Detail Updated!</h4>  
              </div>          
                  
        </div>  
          
        <!-- Modal footer -->  
        <div class="modal-footer" >  
          <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>  
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
        </div>  
          
    </form>  
      </div>  
    </div>  
  </div>  