<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Application List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of applications | async"> 
            <td>{{application.titre}}</td>
            <td>{{application.desc}}</td>
            <!-- <td><button (click)="deleteApplication(application.id)" class="btn btn-danger">Archiver</button>
                <button (click)="updateApplication(application.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
